.feature-card1-feature-card {
  width: 253px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-image {
  width: 573px;
  height: 611px;
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}








.feature-card1-root-class-name8 {
  top: 119px;
  left: 323px;
  position: absolute;
}
